@use './variaveis.scss' as *;

.barra{
    background-color: $cor-destaque;
    height: 40px;
    display: flex;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        color: white;
    }
}