@use "./variaveis.scss" as *;
.screenBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  .cadastro-form {
    max-width: 500px;
    min-height: 500px;
    padding: 20px;
    background-color: $cor-tarefa;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 20px;
      color: $cor-destaque;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
    }

    label {
      font-size: 16px;
      font-weight: bold;
    }

    input {
      font-size: 16px;
      border-radius: 8px;
      border: 1px solid $cor-destaque;
    }
    button {
      background-color: $cor-destaque;
      color: $background;
      padding: 10px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }

    .campoCadUsuario {
      display: flex;
      flex-direction: column;
    }
  }
}
